<!doctype html>
<html>

  <head>
    <title>UW IoT Lab2</title>
  </head>

  <body>

<h2>UW IoT | Lab 2: GPIO API and WebApp</h2>
<<table>
{% for key, value in result.iteritems() %}
   <tr>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
   </tr>
{% endfor %}
</table>
<p>
  <button type='button' id='red_led_btn' style="width:100px; height:50px; color:white; background:red" class="ledbutton">RED LED</button><br><br>
  <button type='button' id='grn_led_btn' style="width:100px; height:50px; color:white; background:green" class="ledbutton">GREEN LED</button><br><br>
  <button type='button' id='blu_led_btn' style="width:100px; height:50px; color:white; background:blue" class="ledbutton">BLUE LED</button><br><br>
</p>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    

    <script>
$(document).ready(function() {
    var led1 = 'OFF';
    var led2 = 'OFF';
    var led3 = 'OFF';
    function getCurrentState(num, led)
    {
       $.get("/leds/"+ num, function(data, status){
                 led= data['led' + num];});
    }

    // The button click functions run asynchronously in the browser
    $('.ledbutton').click(function(e) {
       switch(this.id){
           case 'red_led_btn':
            setTimeout(getCurrentState(1, led1), 10);
            if (led1 === "OFF") {led1 = "ON";} else {led1 = "OFF"};     
            var params = 'led=1&state='+led1;
            $.post('/ledcmd', params, function(data, status){
            console.log("Data: " + data + "\nStatus: " + status);});
             break;
         case 'grn_led_btn':
             setTimeout(getCurrentState(2, led2), 10);
            if (led2 === "OFF") {led2 = "ON";} else {led2 = "OFF";}
            var params = 'led=2&state='+led2;
            console.log('Led Command with params:' + params);
            $.post('/ledcmd', params, function(data, status){
            console.log("Data: " + data + "\nStatus: " + status);});
             break;
         case 'blu_led_btn':
              setTimeout(getCurrentState(2, led2), 10);
              if (led3 === "OFF") {led3 = "ON";} else {led3 = "OFF";}
              var params = 'led=3&state='+led3;
              console.log('Led Command with params:' + params);
              $.post('/ledcmd', params, function(data, status){
              console.log("Data: " + data + "\nStatus: " + status);});
              break;
       }
    });
    });
    </script>
  </body>
</html>